/* Selector Universal */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
/* Paleta de colores 
    Azul: #3464fc
    Gris: #b4c4d4 
        o:#b4b4d4
    BG: #092940
    Celeste: #54C9FF*/



body{
    background-color: rgb(7, 35, 56);

    /* Barra de navegacion */
    header{
        background-color: #092940d7;
        position: sticky;
        top: 0px;
        box-shadow: 0px 4px 29px -12px rgba(3, 23, 56, 0.477);
        -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
        z-index: 1;

        .navbar{
           /* Logo */
            .navbar-brand{
            img{
                width: 130px;
                margin-left: 60px;
                padding: 15px;
                transition: 0.4s;
                &:hover{
                    transform: scale(1.15, 1.15);
                }
            }
        }

            /* Icono toggler */
            .navbar-toggler{
                border: none;
                background-color: #dce5ee;
                color: transparent;
                &:hover{
                    box-shadow: none;
                }

                &:focus{
                    border: none;
                }
            }

            .collapse{
                margin-right: 100px;
                .nav-item{
                    list-style: none;
                    .nav-link{
                        padding: 5px 20px;
                        text-decoration: none;
                        color: #d2dfeb;
                        font-weight: 600;
                        font-size: 1.1rem;
                        transition: 0.4s;

                        &:hover{
                            color: #54C9FF;
                        }
                        
                    }
                }
            }  
            }}

    /* Cuerpo de la página */
    main{
        /* HERO */
        #hero{
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
                .hero{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    column-gap: 200px;
                    row-gap: 60px;
                    .hero-text{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            color: #d2dfeb;
                                h1{
                                    font-size: 4rem;
                                    color: #54C9FF;
                                    font-weight: bold;
                                }
                                h2{
                                    font-size: 2rem;
                                }
                                a{
                                    
                                    border-radius: 5px;
                                    background-color: #5bb8e3;
                                    color: #dfebf6;
                                    font-size: 1.16rem;
                                    font-weight: 600;
                                    padding: 10px;
                                    margin-top: 20px;
                                    text-decoration: none;
                                    transition: 0.4s;
                                    
                                    &:hover{
                                        background-color: #09628b;
                                        
                                    }
                                }
} 
                    .yo{
                        width: 250px;
                    }
                }
        }

        /* Seccion "Sobre Mí" */
        #sobre-mi{
            display: flex;
            align-items: center;
            margin: 0px 270px;
                .sobre-mi{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 200px;

                    .sobre-mi-text{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        color: aliceblue;

                        h3{
                            color: #54C9FF;
                            font-size: 2rem;
                            margin-bottom: 15px;
                            font-weight: bold;
                        }

                    }

                    .sobre-mi-img{
                        img{
                            width: 380px;
                        }
                    }
                }
        }

        /* Seccion "Habilidades" */
        #habilidades{
            margin: 90px 270px;
            .habilidades{
                h3{
                    color: #54C9FF;
                    font-size: 2rem;
                    margin-bottom: 15px;
                    font-weight: bold;
                }
                .iconos{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    row-gap: 20px;
                    img{
                        width: 45px;
                        padding: 3px 0px;
                    }

                    .html, .css, .javascript, .git, .sass, .bootstrap{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px 30px;
                        margin-right: 20px;
                        background-color: #4663854c;
                        border-radius: 10px;
                        transition: 0.5s;

                        h4{
                            margin-left: 10px;
                            color: #d2dfeb;
                            font-size: 1.1rem;
                            margin-bottom: 0;
                        }

                        &:hover{
                            transform: scale(1.1, 1.1);
                        }
                    }

                    .sass, .bootstrap{
                        padding: 10px 30px;
                    }

                    .javascript img{
                        border-radius: 5px;
                    }
                }
            }
        }

        /* Seccion "Proyectos" */
        #proyectos{
            margin: 0px 270px;
            h3{
                color: #54C9FF;
                font-size: 2rem;
                margin-bottom: 15px;
                font-weight: bold;
            }
            .proyectos{
                display: flex;
                align-items: center;
                gap: 30px;
                .proyecto-1{
                    background-color: #4663854c;
                    border-radius: 10px;
                    padding: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 30%;
                    transition: 0.5s;
                    &:hover{
                        transform: translateY(-0.8em);
                    }
                    .portada-proyecto{
                        width: 90%;
                        align-self: center;
                        border-radius: 10px;
                        border: 3px solid #466385fd;
                        margin-top: 15px;

                    }
                    h5{
                            font-size: 1.3rem;
                            color: #dce5ee;
                            margin: 10px 0px 5px 0px;
                            text-shadow: 0px 0px 5px rgba(16, 27, 41, 0.398);
                            text-align: center;
                        }
                    .proyecto-text{
                        margin-left: 10px;
                        
                        img{
                            width: 30px;
                        }
                        p{
                            color: #dce5ee;
                            margin-bottom: 7px;
                        }
                        .repo-y-deploy{
                            margin: 20px 0px 5px 0px;
                            display: flex;
                            flex-wrap: wrap;
                            a{
                            text-decoration: none;
                            color: #e4f1ff;
                            font-size: 1rem;
                            background-color: #5bb8e3;
                            padding: 4px 7px;
                            border-radius: 7px;
                            margin-right: 7px;
                            transition: 0.4s;
                            
                            &:hover{
                                background-color: #4183a1;
                            }
                            }
                        }
                        
                        
                    }
                }

                .proyecto-2, .proyecto-3{
                    background-color: #4663854c;
                    border-radius: 10px;
                    padding: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 30%;
                    transition: 0.5s;
                    &:hover{
                        transform: translateY(-0.8em);
                    }
                    .portada-proyecto{
                        width: 90%;
                        align-self: center;
                        border-radius: 10px;
                        border: 3px solid #466385fd;
                        margin-top: 15px;

                    }  
                    h5{
                            font-size: 1.3rem;
                            color: #dce5ee;
                            margin: 10px 0px 5px 0px;
                            text-shadow: 0px 0px 5px rgba(16, 27, 41, 0.398);
                            text-align: center;

                        }
                    .proyecto-text{
                        margin-left: 10px;

                        img{
                            width: 30px;
                        }
                        p{
                            color: #dce5ee;
                            margin-bottom: 7px;
                        }
                        .repo-y-deploy{
                            margin: 20px 0px 5px 0px;
                            a{
                            text-decoration: none;
                            color: #e4f1ff;
                            font-size: 1rem;
                            background-color: #5bb8e3;
                            padding: 4px 7px;
                            border-radius: 7px;
                            margin-right: 7px;
                            transition: 0.4s;
                            
                            &:hover{
                                background-color: #4183a1;
                            }
                            }
                        }
                        
                        
                    }
                }
            }
        }

        #contacto{
            margin: 0px 270px;
            margin-top: 80px;

            .contacto{
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto;
                column-gap: 210px;
            }
            
            

            h3{
                color: #54C9FF;
                font-size: 2rem;
                margin: 30px 0px 15px 0px;
                font-weight: bold;
            }

            form{

                input{
                    padding: 10px;
                    border-radius: 10px;
                    background-color: rgb(7, 35, 56);
                    border: 2px solid #54C9FF;
                    width: 150%;
                    outline: none;
                    transition: all 0.09s ease-in-out;
                    color: #d2dfeb;
                    font-size: 0.9rem;
                    &:focus{
                        border: 4px solid #54C9FF;
                    }
                }

                label{
                    color: #d2dfeb;
                    font-size: 1.15rem;
                    margin-bottom: 5px;
                }
                .nombre{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .email{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 25px 0px 25px 0px;
                }

                .mensaje{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    textarea{
                        padding: 10px;
                        border-radius: 10px;
                        background-color: rgb(7, 35, 56);
                        border: 2px solid #54C9FF;
                        width: 150%;
                        outline: none;
                        transition: all 0.09s ease-in-out;
                        color: #d2dfeb;
                        font-size: 0.9rem;
                        &:focus{
                            border: 4px solid #54C9FF;
                        }
                    }
                }

                .submit{
                    margin-top: 25px;
                    
                    input{
                        background-color: #54C9FF;
                        border: none;
                        color: #072338;
                        font-weight: 900;
                        font-size: 1.1rem;
                        transition: 0.4s;
                        &:hover{
                            background-color: #09628b;
                            color: #dae1ebd5;
                        }
                    }
                }

            }
            .img-contact{
                width: 80%;
                margin-left: 180px;
                margin-top: 40px;
                opacity: 90%;
            }
        }

    }
    footer{
        font-size: 1.05rem;
        background-color: #092940d7;
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        box-shadow: 0px -4px 29px -12px rgba(3, 23, 56, 0.631);
        .copy{
            padding: 25px;
            margin-left: 30px;
            img{
                width: 100px;
                transition: 0.3s;
                &:hover{
                    transform: translateY(-0.6rem);
                    cursor: pointer;
                }
            }
            p{
                color: #dce5ee;
                padding-top: 7px;
            }
            span{
                transition: 0.35s;
                &:hover{
                    color: #54C9FF;
                    cursor: pointer;
                }    
            }
        }

        .navegacion{
            padding: 25px;
            a{
                text-decoration: none;
                color: #dce5ee;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 7px;
                transition: 0.4s;
                &:hover{
                    color: #54C9FF;
                }

            }
            
        }

        .redes{
            margin-right: 25px;
            color: #dce5ee;
            span{
                color: #5bb8e3;
            }
            a{
                img{
                    width: 55px;
                    transition: 0.4s;
                    &:hover{
                        transform: translateY(-0.6rem);
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1468px){
    body{
        main{
            #sobre-mi, #habilidades, #proyectos, #contacto{
                margin: 0px 100px;
                margin-bottom: 80px;
            }

            #proyectos{
                .proyectos{
                    .proyecto-1, .proyecto-2, .proyecto-3{
                        .repo-y-deploy{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            a{
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }

            #contacto{
                .contacto{
                    form{
                        input, textarea{
                            width: 100%;
                        }
                    }
                    .img-contact{
                        display: none;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px){
    body{
        header{
            .navbar{
                .navbar-brand{
                    img{
                        margin-left: 10px;
                    }
                }
            }
        }

        main{
            #sobre-mi{
                .sobre-mi{
                    margin: 15px 70px;
                    .sobre-mi-img{
                        display: none;
                    }
                }
            }

            #habilidades{
                .habilidades{
                    margin: 15px 70px;
                }
            }

            #proyectos{
                margin: 15px 0px;
                h3{
                    margin-left: 70px;
                    margin-bottom: 15px;
                }
                .proyectos{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .proyecto-1, .proyecto-2, .proyecto-3{
                        width: 75%;
                    }
                }
            }

            #contacto{
                margin: 0px 70px;

                .contacto{
                    column-gap: 0px;
                    img{
                        display: none;
                    }

                    form{
                        input{
                            width: 110%;
                        }

                        textarea{
                            width: 110%;
                        }
                    }
                }
            }

            
        }
            footer{
                .copy{
                    p{
                        display: none;
                    }
                }
            }
    }
}


